.vision_home {
  background: url("../../../assets/product-bg.png") no-repeat top right;
  background-size: auto;
  padding-top: 250px;

  .vision_home_content {
    background-color: #080f2b;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 2%;
    padding-right: 2%;
    h3 {
      font-weight: 500;
      font-size: 26px;
      line-height: 1;
      color: #ffffff;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    p {
      color: #ffffff;
      font-size: 18px;
    }
    .right {
      ul {
        margin-top: 40px;
        li {
          font-weight: 500;
          font-size: 16px;
          line-height: 1.5;
          color: #ffffff;
          margin-bottom: 10px;
        }
      }
    }
  }
}
