.topBar {
  padding: 20px 0;
  @media (max-width: 999px) {
    display: none;
  }
  background: #ffffff;

  .topBarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .top_logo img {
      width: 80%;
    }
    .loginPart a {
      //   margin-left: 10px;
    }
  }
}
