.nav_menu {
  position: relative;
  display: inline-block;

  &:hover .sub_routes_menu {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
  }

  .nav_menu_name {
    padding: 0.5rem;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    &:hover {
      transition: 0.5s ease;
      color: black;
      background-color: white;
      box-shadow: 0px 0px 10px white;
      cursor: pointer;
    }
  }

  .sub_routes_menu {
    position: absolute;
    min-width: 18rem;
    display: flex;
    flex-direction: column;
    // box-shadow: 0px 8px 16px 0px blue;
    box-shadow: 0px 8px 16px 0px #933000;
    padding: 1rem;
    left: -1rem;
    visibility: hidden;
    opacity: 0;
    border-radius: 1rem;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
    color: #000;
    z-index: 200;
    background: #f2f2f2;
  }

  .subRoute {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed gray;

    a {
      text-decoration: none !important;
      color: black;
      padding: 10px 0px;
      border-radius: 0.5rem;
      transition: 0.2s ease;
      margin: 5px 0;
      font-weight: 400;
      font-size: 18px;

      &:hover {
        transition: 0.2s ease-in;
        color: #6f07f6;
        background-color: #d0a7fc;
        // background-color: #00b8ff80;
        cursor: pointer;
        width: 100%;
        padding: 10px 10px;
      }
    }
  }
}
