.importance {
  background: url("../../../assets/importance.png") no-repeat top center;
  background-size: cover;
  //   background-attachment: fixed;
  padding-top: 80px;
  padding-bottom: 150px;
  text-align: center;

  h2 {
    margin-top: 30px;
  }
  p {
    color: #ffffff;
    margin-top: 50px;
  }
}
